$accent-clr: #F55A5A;
$light-clr: #FFFFFF;
$primary-clr: #2B283A;
$secondary-clr: #918E9B;

$fw-reg : 400;
$fw-med: 500;
$fw-bold: 700;

$fs-sm: 1.04rem;
$fs-md: 1.315rem;
$fs-lrg: 1.9625rem;